---
import ReusableSection from "./ReusableSection.astro";
import jobs from "../content/jobs.json";
import { calculateDuration, toSimpleDate } from "../content/jobs";
---

<ReusableSection key="workexperience" keyComment="~4years">
  <div class="grid divide-y divide-primary-foreground/10">
    {
      jobs.map((job) => {
        return (
          <div class="py-6 md:py-10">
            <div class="flex justify-between items-end">
              <div class="flex gap-1 items-end">
                <h3>{job.company}</h3>                {!job.end ? (
                  <p class="text-yellow-200 relative italic text-right">
                    current
                  </p>
                ) : null}
              </div>
              <small class="items-end text-primary-foreground/50">Since: {toSimpleDate(job.start)}</small>
            </div>
            <div class="flex justify-between items-end">
              <p class="text-primary-foreground/50 italic w-fit">{job.job}</p>
                <p class="flex gap-1 items-end text-right w-fit text-xs md:text-md">
                  {calculateDuration(job.start, job.end)}
                </p>
            </div>
            <p class="mt-8 mb-4">{job.description}</p>
            <div class="flex flex-wrap gap-x-2 mt-2">
                {job.teckStack.map((tech) => {
                    return <p class="text-primary-foreground/50 italic">#{tech}</p>
                })}
            </div>
          </div>
        );
      })
    }
  </div>
</ReusableSection>
